{:port #long #or [#env PORT 8080]
 :dev-db {:dbtype   "postgresql"
          :dbname   "bugle_dev"
          :user     "bugle_dev"
          :password "bugle_devpwd"
          :host     "localhost"
          :port     19401}
 :secrets #profile {:prod #include "secrets.edn"
                    :dev {:db-spec #ref [:dev-db]}
                    :test {:db-spec #ref [:dev-db]}}
 :db-spec #ref [:secrets :db-spec]}
