{:db-spec  {:dbtype   "postgresql"
            :dbname   "bugle_prod"
            :user     "bugle_prod"
            :password "tops3cr3t"
            :host     "localhost"
            :port     5432}}
