{:dev-db  {:dbtype   "postgresql"
           :dbname   "bugle_dev"
           :user     "bugle_dev"
           :password "bugle_devpwd"
           :host     "localhost"
           :port     19401}
 :heroku-db #env DATABASE_URL
 :prod-db {:dbtype "postgresql"
           :dbname #env "POSTGRES_DB"
           :host #env "POSTGRES_HOST"
           :user #env "POSTGRES_USER"
           :password #env "POSTGRES_PASSWORD"
           :port #env "POSTGRES_PORT"}
 :test-db {:dbtype "postgresql"
           :dbname #or [#env "POSTGRES_DB" "bugle_test"]
           :host   "localhost"
           :port   19402
           :password #or [#env "POSTGRES_PASSWORD" ""]
           :user #or [#env "POSTGRES_USER" #env "USER"]}}
